<section id="gtco-about" data-section="about">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>Artificial Intelligence</h1>
                <p class="sub">Artificial Intelligence (AI) refers to the development of computer systems that can perform tasks that would typically require human intelligence. AI systems are designed to simulate human cognitive functions such as learning, problem-solving, perception, and language understanding</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                <div class="img-shadow">
                    <img src="../assets/images/img_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                </div>
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="heading-colored">Types</h2>
                <p>1.Narrow AI: Narrow AI, also known as Weak AI, is designed to perform a specific task or a set of tasks within a limited domain. Examples of narrow AI systems include voice assistants like Siri or Alexa, recommendation algorithms used by online platforms, and image recognition software.
<br><br>
                    2.General AI: General AI, also known as Strong AI or Artificial General Intelligence (AGI), refers to AI systems that possess the ability to understand, learn, and apply knowledge across various domains, similar to human intelligence. General AI aims to replicate human-level intelligence and perform any intellectual task that a human being can do. However, achieving true General AI is still a work in progress and remains an active area of research.</p>
                <p><a href="https://www.ibm.com/topics/artificial-intelligence#:~:text=At%20its%20simplest%20form%2C%20artificial,in%20conjunction%20with%20artificial%20intelligence" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
</section>
